.login-title {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  color: #b2b2b2;
  font-size: 18px;
  font-family: Arial;
  padding: 40px 0px 0px 0px;
}

.login-subtitle {
  text-transform: uppercase;
  font-style: italic;
  color: #b2b2b2;
  font-size: 10px;
  font-family: Arial;
  padding: 0px 0px 5px 0px;
}

.login-control {
  width: 100%;
  text-align: center;
}

.icon-link {
  cursor: pointer;
}

.menu-button {
  color: #b2b2b2;
  cursor: pointer;
  text-align: left;
  width: 50px;
  padding-left: 20px;
}

.menu-content {
  width: 100%;
}

.form-row-content {
  width: 100%;
}

.dotted-box {
  border: 3px #b2b2b2;
  border-style: dashed none dashed none;
  padding: 10px 0px 10px 0px;
}

.light-box {
  width: 100%;
  height: 50px;
  background: #f8f9f9;
  border-radius: 3px;
  margin: 5px 0 5px 0;
  text-align: center;
  vertical-align: middle;
}

.border-top {
  border-top: 1px solid #b2b2b2;
}

.menu-content-item {
  width: 100%;
  text-align: right;
}

.headline-1 {
  padding: 10px;
  text-transform: uppercase;
  color: #b2b2b2;
  font-size: 19px;
  font-family: Arial;
}

.caption-1 {
  color: #b2b2b2;
  font-size: 15px;
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  text-transform: uppercase;
}

.caption-2-strong {
  color: #b2b2b2;
  font-size: 11px;
  font-family: Arial;
  font-style: italic;
  font-weight: bolder;
  text-transform: uppercase;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.top-note {
  text-transform: uppercase;
  color: black;
  font-style: italic;
  font-size: 9px;
  padding-top: 5px;
}

.lightweight-note {
  text-transform: uppercase;
  color: #b2b2b2;
  font-style: italic;
  font-size: 9px;
}

.general-note {
  color: black;
  font-size: 15px;
  padding-top: 5px;
  font-family: Arial;
}

.value-large-grey {
  font-size: 25px;
  color: #b2b2b2;
  font-style: italic;
  font-weight: bold;
}

.value-small-grey {
  font-size: 14px;
  color: #b2b2b2;
  font-style: italic;
}

.value-small-grey-strong {
  font-size: 14px;
  color: #b2b2b2;
  font-style: italic;
  font-weight: bolder;
}

.value-large-green {
  font-size: 25px;
  color: #006600;
  font-style: italic;
  font-weight: bold;
}

.value-small-green {
  font-size: 14px;
  color: #006600;
  font-style: italic;
}

.value-small-green-strong {
  font-size: 14px;
  color: #006600;
  font-style: italic;
  font-weight: bolder;
}

.value-large-red {
  font-size: 25px;
  color: #9e0606;
  font-style: italic;
  font-weight: bold;
}

.value-small-red {
  font-size: 14px;
  color: #9e0606;
  font-style: italic;
}

.value-small-red-strong {
  font-size: 14px;
  color: #9e0606;
  font-style: italic;
  font-weight: bolder;
}

.value-large-black {
  font-size: 25px;
  color: #0a0b0c;
  font-style: italic;
  font-weight: bold;
}

.value-small-black {
  font-size: 14px;
  color: #0a0b0c;
  font-style: italic;
}

.value-positive {
  color: #006600;
}

.value-negative {
  color: #9e0606;
}
